*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
/* DESIGN 1*/

/* header */
.hero{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/design1_image1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height:80vh;
    gap: 5rem;
    box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
}

.hero .logo{
    background-color: white;
    border: 4px solid rgb(239, 105, 15);
    height: 6rem;
    width: 6rem;
    top: -3rem;
    box-shadow: 0px 5px 15px 0px rgba(97,97,97,0.54);
    margin-top: 1rem;
    transition: linear .5s;
}
.logo:hover {
    transform: scale(.9, .9);
    border: 4px solid rgb(4, 147, 95);
    cursor: pointer;
}
.subt-logo{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    gap: 3rem;
    justify-content: space-between;
}

.navigation{
    display: flex;
    text-align: center;
    margin-top: 3rem;
    gap: 1.6rem;
    }
.navigation a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}
.navigation .active{
    color: rgb(4, 147, 95);
}

.navigation a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(255, 225, 0);
}
.hero h1{
    font-size: 3.5rem;
    text-align: center;
    color: rgb(239, 105, 15);
    }
.hero span{
    color: rgb(4, 147, 95);
 }
.subt{
    background-color: black;
    border-radius: .4rem;
    color: white;
    margin-top: 1rem;
    box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.75);
    text-align: center;
}

.main{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/pexels-fwstudio-129731.jpg);
    display: flex;
    flex-direction: column;
    margin: .4rem auto;
    padding: 4rem 0;
    box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.75);
    border-radius: .5rem;
    height: auto;
    width: 99%;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
}


.card {
    text-align: center;
    width: 22rem;
    height: 20rem;
    padding: 0;
    border-radius: 1rem;
    background-color: rgb(4, 147, 95);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.54);
}
.card-3{
    text-align: center;
    width: 25rem;
    height: 20rem;
    padding: 0;
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: rgb(4, 147, 95);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.54);
    margin-left: auto;
    margin-right: auto;
}
.card-img{
    width: 15rem;
    height:12rem ;
    margin-top: .4rem;
    border-radius: .3rem;
    border: 1px solid black;
}


.footer{
    margin-top: 1rem;
    background-color: black;
    box-shadow: 0px 5px 15px 0px rgba(97,97,97,0.54);
}
.footer p {
    color: white;
    text-align: center;
    height: 2rem;
    font-size: 1.2rem;
}


/* ABOUT */
.about-text {
   background-color: black;
   width: 15.8rem;
   height:14rem ;
   margin-top: .4rem;
   border-radius: .3rem;
   border: 1px solid black;
   margin: .4rem auto;
}
.about-text-3{
    background-color: black;
    width: 19rem;
    height:16rem ;
    margin-top: .4rem;
    border-radius: .3rem;
    border: 1px solid black;
    margin: .4rem auto;
}

.about-text-3:hover,.about-text:hover{
    background-color: rgb(253, 184, 138);
    cursor:pointer;
}
.text-container{
   height: 100%;
   display: flex;
   align-items: center
}

/* CONTACT */

.contact-mail a{
    color: black;
}
.contact-mail a:hover{
    color: blue;
}
.text-container-contact{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

/* GAME INFO */
.main-info{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/pexels-fwstudio-129731.jpg);
    display: flex;
    flex-direction: column;
    margin: .4rem auto;
    padding: 4rem 0;
    box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.75);
    border-radius: .5rem;
    height: auto;
    width: 99%;
}
.card-info{
    text-align: center;
    width: 35rem;
    height: auto;
    padding: 0;
    border-radius: 1rem;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.54);
}
.rules-text{
    background-color: rgb(253, 184, 138);
    border-radius: .5rem;
}
.game-info{
    display: flex;
    justify-content: space-around;
    gap:3rem ;
}
.bold > span{
    font-weight: bold;
}


table, .game-info, .ad-info{
    margin-top: 1rem;
}

/* RULES */

.card-rules{
    width: 35rem;
    height: auto;
    padding: 0;
    border-radius: 1rem;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.54);
}
.rules-text h3, .rules-text h4{
    text-align: center;
}
.num{
    padding: 1rem;
}
ol span{
    font-weight: bold;
}

li {
    list-style-position: inside;
    margin-top: 1rem;
}
.letter{
    list-style-type:lower-latin ;
}
ul li{
    list-style: circle;
    list-style-position: inside;
}
.sport{
    margin-top: 1rem;
    padding: 1rem;
}

/* Form */
form{
    padding: 1rem;
}
fieldset input[type="text"], input[type="date"],input[type="number"]{
    display: flex;
    flex-direction: column;
}
fieldset legend, fieldset p, .permission label{
    font-weight: bold;
}
.form, input{
    text-align: center;
    margin: 0 auto;
}

.iframe{
    margin: 2rem 0;
}

@media (max-width:978px) {
    .subt-logo{
        flex-direction: column;
        align-items: center;
    }
    .cards{
        width: 100%;
        justify-content: center;
    }

    .about-text{
        background-color:rgb(253, 184, 138) ;
    }
    .card-text-3{
        background-color: rgb(253, 184, 138);
    }

}
@media (max-width:598px){
    .navigation{
        flex-wrap: wrap;
        justify-content: center;
    }
}